.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-cs);
    margin: 0 28px;
    padding: 16px 8px;
}

.item-icon-contact {
    width: 24px;
    height: 24px;
}

.contact-container-max {
    display: inline-flex;
    flex-direction: row;
}

.contact-container-min {
    padding: 16px;
}

.item-contact-container {
    display: flex;
    text-decoration: none;
    margin: 0px 0px 28px;
    padding: 0px 0px 8px;
    width: 520px;
    height: 32.8px;
    border-bottom: 1px solid #dedede;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
}

.left-text{
    color: var(--text-dark);
    vertical-align: middle;
}

.right-text {
    color: var(--text-light-secondary);
}

.right-text:hover {
    color: var(--text-dark);
    cursor: pointer;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.label-contact {
    font-size: 14px;
    color: var(--text-dark);
    margin: 0px 0px 4px;
}

.input-contact {
    border: 1px solid #dedede;
    background-color: #fff;
    width: 520px;
    height: 34.4px;
    border-radius: 5px;
}

.message-contact {
    border: 1px solid #dedede;
    background-color: #fff;
    width: 520px;
    height: 100px;
    border-radius: 5px;
}

.button-form-contact {
    background-color: var(--button-color);
    margin: 0px 0px 16px;
    padding: 8px;
    color: #fff;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    width: 100px;
    height: 34.4px;
}