.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color-as);
    margin-bottom: 28px;
}

.text-about-container {
    display: flex;
    justify-content: center;
}

.text-about {
    font-size: 14px;
    width: 1168px;
    height: 62.4px;
}

.images-container {
    margin-bottom: 28px;
}

.images-ds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.images-item {
    height: 262.69px;
    width: 378.66px;
    padding: 0px 8px;
    margin-bottom: 16px;
}