header {
    background-color: var(--bg-nav-color);
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: var(--bg-nav-color);
}

.nav-container, .logo-nav {
    margin-right: 50px;
}

.nav-content {
    margin-left: 650px;
}

.logo-nav-img{
    width: 164.59px;
    height: 60px;
}

.nav-container, .nav-content{
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family:Verdana;
  font-size: 11px;
  gap: 10px;
}

.nav-container, .nav-content, .nav-link a {
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
    text-decoration: none;
    color:var(--text-light);
  }

ul.dropdown-menu {
  background-color: #101d42;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0;
}

ul.dropdown-menu .dropdown-item {
  color: var(--text-light);
  background-color: var(--bg-dark) !important;
  font-weight: bold;
  font-size: 11px;
  border: none;
  padding: 8px 12px;
  text-align: left;
}

ul.dropdown-menu .dropdown-item:hover {
  color: var(--text-hover);
  background-color: transparent;
  text-decoration: none;
}

.dropdown-toggle {
  padding-left: -12px !important;
  padding-right: 12px !important;
}

.dropdown-toggle:focus, .dropdown-toggle:active {
  box-shadow: none;
  outline: none;
}

  
  .nav-container, .nav-content, .nav-link, a:hover {
    color:var(--text-hover);
  }

  /* media screen + in html pt sect2 */