.about-sections {
    padding: 0px 8px;
    margin-top: 100px;
}

.item-about {
    padding: 4px;
    margin-bottom: 16px;
    bottom: 16px;
    border: 0.8px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: visible;
}

.image-circle {
    border-radius: 100%;
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    top: -70px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.name-trainer {
    position: absolute;
    color: var(--text-hover);
    font-weight: 300;
    font-size: 16px;
    background-color: #141e4ce6;
    margin: 50px 0px 16px;
    padding: 4px 0px;
    width: 262.4px;
    height: 32;
    border-radius: 5px;
}

.span-text {
    justify-content: left;
    text-align: left;
}

.text-about-section {
    font-size: 14px;
    width: 262.4px;
    height: 208px;
    margin-top: 100px;
}
